@use './../utils/variables' as vars;

* {
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
    font-size: vars.$font-size-base;
}

body {
  font-family: vars.$font-family1;
  font-size: vars.$fsize-16px;
  font-weight: vars.$fweight-regular;
  background-color: vars.$col-body-bg;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

p {
    font-size: vars.$fsize-16px;
    font-weight: 400;
}

.btn {
    display: inline-block;
    padding-inline: vars.$btn-padding-x;
    padding-block: vars.$btn-padding-y;
    font-family: inherit;
    font-size: vars.$btn-font-size;
    font-weight: vars.$btn-font-weight;
    line-height: vars.$btn-line-height;
    color: vars.$btn-color;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: vars.$btn-border-width solid vars.$btn-border-color;
    border-radius: vars.$btn-border-radius;
    background-color: vars.$btn-bg;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,         box-shadow 0.15s ease-in-out;
}

button:hover, .button:hover, .btn:hover {
    color: vars.$btn-hover-color;
    background-color: vars.$btn-hover-bg;
    border-color: vars.$btn-hover-border-color;
}


.footer {
    margin-block-start: auto;
    height: 80px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

// ALERT BOX
// Alert Success (Grenn)
.alert {
    padding: 10px;
    border-radius: 4px;
}
.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;

    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    padding: 10px;
    border-radius: 4px;
}

// Alert Info (Blue)
.alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}

// Alert Warning (yellow)
.alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}

// Alerte Error (Red)
.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

// Style for close button
.btn-close {
    float: right;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;

    &:hover {
        color: #000;
        text-decoration: none;
        opacity: 0.75;
    }
}

