// To be able to use math.div
@use "sass:math";

$tabletSmallMin: 576;
$tabletMediumMin: 768;
$laptopMin: 992;
$desktopMin: 1200;

// Min width converted to rem
// Tablet small min-width : 36rem
$tabletSmallMinRem: math.div($tabletSmallMin, 16);
// Tablet medium min-width : 48rem
$tabletMediumMinRem: math.div($tabletMediumMin, 16);
// Laptop min-width : 62rem
$laptopMinRem: math.div($laptopMin, 16);
// desktopMin min-width : 75rem
$desktopMinRem: math.div($desktopMin, 16);
// Tablet only : between 36rem and 61.94rem
$tabletMaxRem: math.div($laptopMin - 1, 16);


@function breakpoints($deviceMin) {
  $device: ("tabletSmallAndUp": "(min-width: #{$tabletSmallMinRem}rem)",
    "tabletMediumAndUp": "(min-width: #{$tabletMediumMinRem}rem)",
    "laptopAndUp": "(min-width: #{$laptopMinRem}rem)",
    "desktopAndUp": "(min-width: #{$desktopMinRem}rem)",
    "tabletOnly": "(min-width: #{$tabletSmallMinRem}rem) and (max-width: #{$tabletMaxRem}rem)"
  );
  @return map-get($device, $deviceMin);
}

@mixin media($deviceMinAndUp) {
  $deviceMinAndUp: breakpoints($deviceMinAndUp);

  @media #{$deviceMinAndUp} {
    @content;
  }
}

// Another way to set the breakpoint :
// @mixin tabletAndUp {
//   $tabletAndUp : breakpoints("tabletAndUp");
//   @media #{$tabletAndUp} { @content; }
// }
