// To be able to use math.div
@use 'sass:math';

/* ====== COLOR PALETTE ====== */

// $col-primary :
// $col-secondary :
$col-black: hsl(0deg, 0%, 0%);
$col-white: hsl(0, 0%, 100%);
$col-body-bg: #f8fafc;

/* Gradients */

$line-height-base: 1.6;

// ====== TYPOGRAPHY =======

// ====== FONT FAMILY ======
$font-family1: 'Lato', sans-serif;
$font-family2: 'Meow Script', cursive;
$font-family3: 'Quicksand', sans-serif;

// ====== FONT-SIZE ======

$font-size-base: 1em;

$fsize-11px: 0.687rem;
$fsize-12px: 0.75rem;
$fsize-14px: 0.875rem;
$fsize-15px: 0.9375rem;
$fsize-16px: 1rem;
$fsize-17px: 1.0625rem;
$fsize-18px: 1.125rem;
$fsize-19px: 1.1875rem;
$fsize-20px: 1.25rem;
$fsize-21px: 1.3125rem;
$fsize-24px: 1.5rem;
$fsize-32px: 2rem;
$fsize-52px: 3.25rem;
// $fsize-404-mobile: 6rem;
// $fsize-404-desktop: 18rem;

// ====== FONT WEIGHT ======

$fweight-thin: 100;
$fweight-light: 300;
$fweight-regular: 400;
// $fweight-medium: 500;
$fweight-bold: 700;
$fweight-black: 900;


// ====== SPACING ======

$space-base: 8px;
$space-XS: 16px;
$space-S: 24px;
$space-M: 32px;
$space-L: 40px;
$space-XL: 48px;

// ====== SIZES (HEIGHT, WIDTH) ======

$size-XXS: 8px;
$size-XS: 16px;
$size-S: 24px;
$size-M: 32px;
$size-L: 40px;
$size-XL: 48px;
$size-XXL: 72px;


// ====== RADIUS ======

$radius-cercle: 50%;
$radius-S: 5px;
$radius-M: 10px;
$radius-L: 25px;

// ====== WELCOME PAGE VARS ======
$body-background-image: url('https://source.unsplash.com/random');
$body-background-repeat: no-repeat;
$body-background-position: center center;
$body-background-size: cover;

// ====== BUTTON ======
$body-color: hsl(210, 11%, 15%);
$body-hover-color: hsl(210, 11%, 1%);

$border-radius: 0.375rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 0.5rem;
$border-radius-xl: 1rem;
$border-radius-xxl: 2rem;
$border-radius-2xl: var($border-radius-xxl);
$border-radius-pill: 50rem;

$border-width: 1px;

$border-style: solid;
$border-color: hsl(210, 14%, 89%);
$border-color-translucent: hsla(0, 0%, 0%, 0.175);
$border-color-hover: hsl(240, 100%, 0%);
$bg-color-hover: hsl(240, 100%, 0%);

$btn-padding-x: 0.75rem;
$btn-padding-y: 0.375rem;
$btn-font-size: 1rem;
$btn-font-weight: $fweight-regular;
$btn-line-height: 1.5;
$btn-bg: transparent;
$btn-color: $body-color;
$btn-border-width: $border-width;
// $btn-border-color: transparent;
$btn-border-color: $border-color-translucent;
$btn-border-radius: $border-radius;
$btn-hover-color: $border-color;
$btn-hover-bg: $bg-color-hover;
// $btn-hover-border-color: transparent;
$btn-hover-border-color: $border-color-hover;
$btn-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 0 1px 1px hsla(0, 0%, 0%, 0.075);
$btn-disabled-opacity: 0.65;
// $btn-focus-box-shadow: 0 0 0 0.25rem rgba($btn-focus-shadow-rgb, .5);